:root {
  --dakotagolden: rgb(254, 183, 59);
  --lightdakotagolden: rgb(255, 195, 92);
  --dakotagoldenlist: rgb(240, 151, 50);
  --darkdakotagolden: rgb(196, 84, 20);

  --kayurple: rgb(168, 40, 248);
  --darkkayurple: rgb(104, 13, 160);

  --gnonex: #b00b69;

  --gren: #69b00b;

  --woke: rgb(0, 13, 12);
}


.no-interpolation {
  image-rendering: crisp-edges;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;

}

html {
    background-color: black;
}

body {
  position: relative;
  margin: 0;
  background-image: url(../img/background.png);

}

.inverted {
  filter: invert(1);
}

.nonInverted {
  filter: invert(0);
}

body::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;        
  z-index: -1;     


  height: 100%;

}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 30px;
  border-style:solid;
  border-width: 0 0 2px 0;
}

h2 {
  margin: 0;
  margin-top: 30px;
  font-size: 30px;
  border-style:solid;
  border-width: 0 0 2px 0;
}

h3 {
  margin: 0;
  font-style: italic;
  font-size: 30px;
}

p {
  margin: 0;
  line-height: 1.5;

  font-size: 20px;
}

li {
  font-size: 20px;
  background-color: var(--dakotagolden);
  color: var(--woke);

  padding: 4px 0px 4px 10px;

  list-style: square inside;
}

li:nth-child(even)  {
  background-color: var(--dakotagoldenlist);
}

#floating-me {
  z-index: -1;
  position: fixed;
  width: 100%;
  top: 50vh;
}

#floating-me img {
  width: 100px;
  -webkit-animation:spin 8s linear infinite;
}

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}

#body-container {
  display: grid;
  width: 1000px;
  min-height: 900px;
  max-height: 100%;
  grid-template-columns: 88px 1fr 100px;
  grid-template-rows: 100px 75px 1fr;
  grid-template-areas:
  "left header right"
  "left links right"
  "left body right";
  margin: 0 auto;
  border-style: solid;
  border-color: orange;
}

.body-separator {
  display: flex;
  flex-direction: row;
}

#body-right {
  width: 100%;

  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.linkbox {
  display: flex;
}

.linkbox a { 
  font-size: 25px;
  color: var(--lightdakotagolden)
}

.linkbox img {
  margin: 0px 10px 10px 10px;
}

#body-right img {
  width: 40px;
}

#body-right h2 {
  margin-bottom: 10px;
}

#body-left {
  width: 350px;
}

#card-header {
  height: 100px;
}

#card-icon {
  border: 5px var(--dakotagolden) solid;
  border-top: 0;
  border-bottom: 0;
  height: 425px;
  width: 350px;
}

#card-body {
  color: var(--darkdakotagolden);
  background-color: var(--dakotagolden);

  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-align: center;

  background-image: url(../img/card-bg.png);
  background-size: cover;

}

#left {
  grid-area: left;
  background-color: var(--dakotagolden);
  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#left a:hover {
  filter:brightness(0.5);
}

#header {
  grid-area: header;
  background-image: url(../img/logonew.png);
  background-size: cover;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#links {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;

  border-style: solid;
  border-width: 4px 0px 4px 0px;
  border-color: var(--dakotagolden);
}

#links a {
  color: var(--dakotagolden);
  font-size: 50px;
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

#links a:hover {
  color: var(--darkdakotagolden) !important;
}

#links a:visited {
  color: var(--dakotagolden);
}

#links img {
  width: 100%;
}

#body {
  background-color: var(--woke);
  grid-area: body;

  color: var(--dakotagolden);
  font-size: 30px;
  padding: 10px;
}

#right {
  grid-area: right;
  background-color: var(--dakotagolden);
  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#right img {
  width: 100%;
}

#right a:hover {
  filter: brightness(0.7);
}

#right p {
  background-image: url(../img/ads.png);
  background-size: cover;
  font-size: 10px;
  color: black;
  padding: 10px;

  height: 100px;
}

#rantsona-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}

#rantsona-box img {
  width: 5vw;
  height: 100%;
}

#lights {
  width: 111%;
  margin-left: -11px;
  margin-bottom: -20px;

}

#filter-button {

  width: 100%;

  height: 40px;
  max-height: 40px;

  background-color: black;
  color: var(--dakotagolden);
  font-size: large;
  font-weight: 800;
  border-color: var(--dakotagolden);
}

