:root {
  --dakotagolden: rgb(254, 183, 59);
  --darkdakotagolden: rgb(196, 84, 20);

  --kayurple: rgb(168, 40, 248);
  --darkkayurple: rgb(104, 13, 160);

  --gnonex: #b00b69;

  --gren: #69b00b;

  --woke: rgb(0, 13, 12);
}

.no-interpolation {
  image-rendering: crisp-edges;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-image: url(../img/background.png);
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 30px;
  border-style:solid;
  border-width: 0 0 2px 0;
}

h2 {
  margin: 0;
  margin-top: 40px;
  font-size: 30px;
  border-style:solid;
  border-width: 0 0 2px 0;
}

p {
  margin: 0;
  line-height: 1.5;

  font-size: 20px;
}

iframe {
  padding: 0;
  margin: 0;
  border:0;
}

#floating-me {
  z-index: -1;
  position: fixed;
  width: 100%;
  top: 50vh;
}

#floating-me img {
  width: 100px;
  -webkit-animation:spin 8s linear infinite;
}

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}

#body-container {
  display: grid;
  width: 1000px;
  height: 900px;
  grid-template-columns: 88px 5fr 100px;
  grid-template-rows: 100px 1fr 10fr;
  grid-template-areas:
  "left header right"
  "left links right"
  "left body right";
  margin: 0 auto;
  border-style: solid;
  border-color: orange;
}

#left {
  grid-area: left;
  background-color: var(--woke);
  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#left a:hover {
  filter:brightness(0.5);
}

#header {
  grid-area: header;
  background-image: url(../img/logonew.png);
  background-size: cover;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#links {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;

  max-height: 100px;
  border-style: solid;
  border-width: 4px 0px 4px 0px;
  border-color: var(--dakotagolden);
}

#links a {
  color: var(--dakotagolden);
  font-size: 50px;
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

#links a:hover {
  color: var(--darkdakotagolden) !important;
}

#links a:visited {
  color: var(--dakotagolden);
}

#links img {
  width: 100%;
}

#body {
  background-color: var(--woke);
  grid-area: body;

  color: var(--dakotagolden);
  font-size: 30px;
  padding: 20px;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: black black;
}

#right {
  grid-area: right;
  background-color: var(--woke);
  display: flex;
  flex-direction: column;
  background-color: var(--dakotagolden);

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#right img {
  width: 100%;
}

#right a:hover {
  filter: brightness(0.7);
}

#right p {
  background-image: url(../img/ads.png);
  background-size: cover;
  font-size: 10px;
  color: black;
  padding: 10px;

  height: 100px;
}

#rantsona-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}

#rantsona-box img {
  width: 5vw;
  height: 100%;
}