#art-box {
  margin-top: 10px;
  height: 300px;
  background-color: rgba(0,0,0,0.2);

  overflow-x: auto;
  scrollbar-color: black black;

  display: flex;
}

#art-box img {
 max-width: 100% !important;

}

#gallery-header a { 
  text-decoration: none;
  color: var(--dakotagolden);
}

#gallery-header:hover {
  color: black;
  background-color: var(--dakotagolden);
}

#gallery-header a:hover {
  color: black;
}

.game-box {
  display: grid;
  background-color: black;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 3fr;

  grid-template-areas: 
  "game-img game-title"
  "game-img game-subtitle";

  margin-top: 25px;
}

.game-image {
  grid-area: game-img;
}

.game-image img {
  width: 100%;
}

.game-image a:hover {
  filter:brightness(0.5);
}

.game-title {
  grid-area: game-title;

  color: black;

  padding-left: 10px;
}

.game-subtitle {
  padding-left: 10px;
  grid-area: game-subtitle;
  font-size: 20px;
}
