:root {
  --bg-color: #23211F;
  --bg-color-dark: #171616;
  --bg-color-darker: #0b0b0b;

  --ac-color: #5C5047;
  --ac-color-light: #aa988a;
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#title-container {
  color: #FFB200;
  font-size: 40px;
  font-weight: 1000;
  padding:20px;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: var(--bg-color);
  color: var(--ac-color-light);
  
  margin: 0;
}

#body-container {
  margin: 0 auto;

  width: 50%;
  min-width: 800px;
  padding: 20px;

  background-color: var(--bg-color-dark);

  border-width: 2px;
  border-style: solid;
  border-color: var(--ac-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#randomize-button {
  margin-bottom: 10px;
}

#randomize-button button {
  background-color: var(--ac-color-light);
  color: var(--bg-color-dark);

  border: solid;
  border-width: 2px;
  border-color: var(--ac-color-light);
  border-radius: 4px;

  width: 150px;
  padding: 10px;
  
  font-size: 20px;

  transition-duration: 0.2s;
}

#randomize-button button:hover {
  cursor: pointer;

  color: var(--ac-color-light);
  background-color: var(--bg-color);
}

#randomize-button button:active {
  transition-duration: 0s;
  cursor: pointer;
  background-color: var(--bg-color-darker);
}

#randomize-container {
  background-color: var(--bg-color-darker);
  width: 100%;

  display: flex;
}

.loadout-header {
  display: flex;
  background-color: var(--ac-color-light);
  width: 100%;
  height: 50px;
}

h1 {
  color: var(--bg-color);
  font-size: 20px;

  width: 100%;
  display: flex;
  justify-content: center;
}

.loadout-body {
  display: flex;
  justify-content: center;

  padding: 10px;
}

#kit-container,
#weapon-container,
#grenade-container {
  width: 20%;
}

#perk-container {
  width: 100%;
}

#perk {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  gap: 0;
}

#perk img {
  width: 50px;
}

#disclaimer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  font-size: 14px;
  color: var(--ac-color)
}

#disclaimer-container p {
  margin: 0;
}